### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
purchasedata = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(purchasedata)
purchasedata_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [69]:
#total number of players
total_players=purchasedata_df['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#number of unique items
purchasedata_df['Item Name'].nunique()

179

In [4]:
#average price of items
average = purchasedata_df["Price"].mean()
average

3.050987179487176

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

In [74]:
#Percentage and count of players of each gender. 
#Count then make another column to display percentage

#percentage=purchasedata_df["Gender"].value_counts()
#percentage

gender = purchasedata_df.groupby("Gender")
gender_count = gender.nunique()["SN"]

percent=(gender_count/total_players)*100

gender_list=pd.DataFrame({"Total Count": gender_count, "Percentage of Players":percent})
gender_list.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Filter the data so that only those males in the Gender column are in a DataFrame
male_df = purchasedata_df.loc[purchasedata_df["Gender"] == "Male", :]
male_df.head()
male_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [68]:
# Total Purchase Count of all Males; All Purchase ID, total the column.

purchase_count = len(male_df["Purchase ID"].unique())
print(purchase_count)

652

In [53]:
#By male:  avg. purchase price
male_average = male_df["Price"].mean()
male_average
print(male_average)

3.0178527607361953

In [82]:
#clean table
clean_male_df = male_df.dropna(how="any")
clean_male_df.count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [91]:
#By male: unique User ID
male_user_id_df = clean_male_df["SN"].value_counts()

#Purchase Count by person
male_purchase_count_df = clean_male_df["Item ID"].value_counts()

#male_user_id_df = clean_male_df.groupby("SN")
#male_purchase_count_df = clean_male_df.nunique()["Item ID"]


item_list=pd.DataFrame({"User Name": male_user_id_df, "Total Count": male_purchase_count_df})


#gender_list=pd.DataFrame({"Total Count": gender_count, "Percentage of Players":percent})

In [54]:
grouped_usa_df = male_df.groupby(['SN'])
print(grouped_usa_df)
grouped_usa_df.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001960E28C0D0>

              Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76            1    1       1        1          1      1
Aeda94                  1    1       1        1          1      1
Aela59                  1    1       1        1          1      1
Aelaria33               1    1       1        1          1      1
Aelastirin39            2    2       2        2          2      2
Aelidru27               1    1       1        1          1      1
Aelin32                 3    3       3        3          3      3
Aelly27                 2    2       2        2          2      2
Aellynun67              1    1       1        1          1      1
Aellyria80              1    1       1        1          1      1

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame